
.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74vh;
}

.formulario {
    padding: 60px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 3px solid rgba(44, 52, 73, 1) ;
    border-radius: 10px;
}

h2 {
    color: rgba(44, 52, 73, 1);
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

label {
    font-size: 18px;
    color: rgba(44, 52, 73, 1);
}

input {
    padding: 10px;
    width: 100%;
    height: 25px;
    border: 2px solid #bed0ff;
    background-color: #cbdaff;
    border-radius: 8px;
}

button {
    font-family: 700;
    font-size: 18px;
    margin-top: 18px;
    width: 100%;
    height: 30px;
    background-color: #2c3449;
    color: #fff;
    border-radius: 8px;
    border: none;
}

.botao-login:hover {
    background-color: #A9E4AE;
    transform: scale(1.05);
    color:#2c3449;
}

p{
    text-decoration: none;
    margin-top: 8px;
    margin-left: 2px;
    font-size: 14px;
}



